{% extends "firstApp/base2.html" %}
{% block body_block %}
<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h3 class="display-5 fw-bold ">{{room.question.title}}</h3>
        <p>{{room.question.created_date}}</p>
        <p>${{room.question.price}}</p>
        <p>{{room.question.text}}</p>
      </div>
    </div>
    <div class="p-5 mb-4 bg-light rounded-3">
          <div class="container-fluid py-5">
            <div id='chat-box' class="container">
              {% for message in messages %}
                {% if message.creator.username == profile.user.username %}
                  <div class="message-total-display-2">
                    <!-- <p class="messages-left">{{message.creator.username}}</p> -->
                    {%if profile.profile_pic %}
                    <img class="image-left image-rounded" height="30px" width="30px" src="{{profile.profile_pic.url}}" alt="">
                    {%else%}
                    <i class="messages-left bi-person-circle h2"></i>
                    {%endif%}
                    <p class="messages-left"><span class="message-styling">{{message.text}} - {{message.created_date}}</span></p>
                  </div>
                {% else %}
                <div class="message-total-display">
                  <p class="messages-right"><span class="message-styling-2">{{message.text}} - {{message.created_date}}</span></p>
                  <!-- <p class="messages-right">{{message.creator.username}}</p> -->
                  {%if profile.profile_pic %}
                    {%if profile.user_type == 'User' %}
                    <img class="image-right image-rounded" height="30px" width="30px" src="{{specialist.profile_pic.url}}" alt="">
                    {%else%}
                    <img class="image-right image-rounded" height="30px" width="30px" src="{{regular.profile_pic.url}}" alt="">
                    {%endif%}
                  {%else%}
                  <i class="messages-right bi-person-circle h2"></i>
                  {%endif%}
                </div>
                {% endif %}
              {% endfor %}
            </div>
            <form id="message-form">
            {% csrf_token %}
            <!-- <div class="positioning-message-form"> -->
              <div class="input-group mb-3 positioning-message-form">
                {{form.as_p}}
                <div class="input-group-append">
                <button id="ajax_button" class="btn btn-success custom-button" type="submit" name="button">Send</button>
                </div>
              </div>
            <!-- </div> -->
            </form>
          </div>
        </div>
        {% block javascript %}
        <script>
          var socket = new WebSocket('ws://' + window.location.host + '/ws/{{room.room_id}}/');
          socket.onmessage = function(event){
            const data = JSON.parse(event.data);
            if(data.message){
              const date = new Date();
              var hour = date.getHours();
              var minutes = date.getMinutes();
              var time_identifier = 'a.m.';
              if(minutes < 10){
                minutes = '0' + minutes.toString();
              }
              if(hour > 12){
                hour = hour-12;
                time_identifier = 'p.m';
              }
              if(data.username != '{{profile.user.username}}'){
                $('#chat-box').append('<div class="message-total-display">' +
                  '<p class="messages-right"><span class="message-styling-2">' + data.message + ' - ' + hour + ':' + minutes + ' ' + time_identifier +
                    '</span></p>'+
                    {% if profile.user_type == 'User' and regular.profile_pic%}
                    '<img class="image-right image-rounded"src="{{specialist.profile_pic.url}}" height="30px" width="30px" alt="">'
                    {% elif profile.user_type == 'Specialist' and specialist.profile_pic%}
                    '<img class="image-right image-rounded" src="{{regular.profile_pic.url}}" height="30px" width="30px" alt="">'
                    {%else%}
                    '<i class="image-right bi-person-circle h2"></i>'
                    {% endif %}
                    + '</div>');
              }
              else{
                $('#chat-box').append('<div>'+
                  {% if profile.profile_pic%}
                  '<img class="image-left image-rounded" src="{{profile.profile_pic.url}}" height="30px" width="30px" alt="">'
                  {%else%}
                  '<i class="image-left bi-person-circle h2"></i>'
                  {% endif %}
                  + '<p class="image-left"><span class="message-styling">' + data.message + ' - ' + hour + ':' + minutes + ' ' +
                  time_identifier + '</span></p></div>');
              }
            }
            else {
              alert('The message was empty!')
            }
            console.log('onMessage')
          }
          socket.onclose = function(event){
            console.error('The socket closed unexpeectedly')
          }
          $("#message-form").submit(function(e) {
            e.preventDefault();
          });
          $("#ajax_button").click(function () {
              var main_text;
              main_text = $('.messaging-input').val()
              socket.send(JSON.stringify({
                'message': main_text,
                'username': '{{profile.user.username}}',
                'room': '{{room.room_id}}'
              }));
              //send message to backend to store message in backend
              if(main_text != ""){
                $.ajax({
                  type: "POST",
                  url: '{{room.slug}}/createMessageAPI',
                  data: {
                    'csrfmiddlewaretoken': document.querySelector('input[name="csrfmiddlewaretoken"]').value,
                    'room':'{{room.room_id}}',
                    'text': main_text
                  },
                  dataType: 'json',
                  success: function (data) {
                    // var html = '<p>'+data['creator_name'] + ': ' + data['text'] + ' - ' + data['created_date'] + '<p>'
                    // $('#chat-box').append(html);
                    document.getElementById("message-form").reset();
                  }
                });
              }
      });
        </script>
        {% endblock %}
{% endblock %}
