.color-me{
  color: purple !important;
}
.image-rounded{
  border-radius: 50%;
}
.custom-button{
  /* display: inline-block !important; */
  height: 38px;
}
.positioning-message-form{
  /* margin-left: 40px */
  left: auto;
  right:auto;
  margin-right: 0;
  /* width: 400px; */
  /* display: inline-block; */
  /* position: relative; */
  /* width: 300px; */
}
.messaging-input{
  /* border-radius: 12px; */
  resize: none;
  /* display: inline-block !important; */
  /* width: 50%; */
}
/* .custom-positioning{
  display: flex;
  width: 300px;
} */
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
header .container {
  position: relative;
  z-index: 2;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
.whole-post{
  background-color: #666963;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  transition-duration: 0.4s;
  color:white;
  height: 50px;
  margin-top: 15px;
  /* display: flex; */
  /* display: inline-block; */
}
.whole-post:hover{
  transform: translateY(-4px);
  color: red;
}
.centerstage{
  margin-right: auto;
  margin-left: auto;
}
.question-list-item{
  padding-top: 10px;
  padding-left:3%;
  /* padding-bottom: auto; */
}
.messages-left{
  display: inline-block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.messages-right{
  display: inline-block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  /* float: right; */
  /* position: relative; */
  /* float: right; */
}
.message-styling{
  padding: 3px;
  border: 2px solid #1982FC;
  border-radius: 12px;
  color: white;
  display: inline-block;
  background-color: #1982FC;
}
.message-styling-2{
  padding: 3px;
  border: 2px solid #d3d3d3;
  border-radius: 12px;
  color: black;
  background-color: #d3d3d3;
  display: inline-block;
}
.message-total-display-2{
  /* margin-bottom: 10px; */
  width:300px;
  display: flex;
  /* border: 2px solid #1982FC;
  border-radius: 12px;
  background-color: #1982FC; */
}
.message-total-display{
  width:300px;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  /* float: right; */

}
.image-left{
  display: inline-block;
  margin-right: 5px;
}
.image-right{
  display: inline-block;
  margin-left: 5px;
}
